@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

// VARIABLES
$color-white: #fff;
$color-primary: #242226;
$color-secondary: #fed238;
$color-text-primary: #747370;
$color-text-secondary: #898886;
$color-bg-primary: #f3f3f3;
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$transition: 0.2s all ease;

// GENERAL
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $color-primary;
}

.button {
  padding: 16px 32px;
  border: none;
  text-transform: uppercase;
  color: $color-bg-primary;
  background-color: $color-secondary;
  border-radius: 4px;
  font-weight: bolder;
  font-size: 1rem;
  transition: $transition;
  margin-bottom: 8px;
  cursor: pointer;

  &:hover {
    background-color: darken($color-secondary, 15%);
  }

  @media (max-width: $width-sm) {
    padding: 8px 16px;
    font-size: 0.8rem;
    font-weight: lighter;
  }
}

.section {
  padding: 128px 0;
  // background-color: yellow;

  &--bg-dark {
    background-color: $color-bg-primary;
  }

  @media (max-width: $width-sm) {
    padding: 64px 0;
  }
}

.section-header {
  text-align: center;
  // background-color: white;
  margin-bottom: 36px;

  &__primary-text {
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 8px;
    letter-spacing: 2px;

    @media (max-width: $width-sm) {
      font-size: 24px;
    }
  }

  &__secondary-text {
    color: $color-text-secondary;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;

    @media (max-width: $width-sm) {
      font-size: 1rem;
    }
  }
}

// ========== SPECIFIC CLASSES ==========

//HEADER
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.pexels.com/photos/775219/pexels-photo-775219.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center center;
}

// NAVIGATION
.navigation {
  padding-top: 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $width-sm) {
    padding-top: 8px;
    flex-direction: column;
  }

  &__logo {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: $color-secondary;

    @media (max-width: $width-sm) {
      font-size: 1.8rem;
      margin-bottom: 0.4rem;
    }
  }

  &__items {
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  &__item {
    margin-right: 1.4rem;
    @media (max-width: $width-sm) {
      margin-right: 0.4rem;
    }

    &:last-of-type {
      margin-right: 0;
    }

    a {
      display: inline-block;
      text-decoration: none;
      font-size: 0.8rem;
      color: $color-white;
      text-transform: uppercase;
      transition: $transition;
      cursor: pointer;

      @media (max-width: $width-sm) {
        font-size: 0.6rem;
      }
    }

    a:hover {
      color: $color-secondary;
    }
  }
}

// HEADER-CONTENT
.header-content {
  min-height: 70vh;
  // background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  color: $color-white;

  &__secondary-text {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    @media (max-width: $width-sm) {
      font-size: 20px;
    }
  }

  &__primary-text {
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;

    @media (max-width: $width-sm) {
      font-size: 32px;
    }
  }
}

// SERVICES
.services {
  // gap: 8px;
}

.service-item {
  background-color: white;
  text-align: center;
  padding: 4px;

  &__icon {
    padding: 10px;
    font-size: 2.4rem;
    color: $color-secondary;
    border: 3px solid $color-secondary;
    border-radius: 50%;
    margin-bottom: 16px;

    @media (max-width: $width-sm) {
      font-size: 1.2rem;
      margin-bottom: 8px;
    }
  }

  &__header {
    font-size: 1.2rem;
    margin-bottom: 8px;

    @media (max-width: $width-sm) {
      font-size: 1rem;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Times New Roman', Times, serif;
    color: $color-text-secondary;

    @media (max-width: $width-sm) {
      font-size: 0.8rem;
      line-height: 1.2;
    }
  }
}

// PORTFOLIO
.portfolio-item {
  text-align: center;
  background-color: $color-white;
  padding-bottom: 24px;

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__header {
    margin-top: 16px;
    font-size: 1.2rem;
  }

  &__text {
    margin-top: 4px;
    color: $color-text-secondary;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }
}

// FOOTER
.footer {
  padding: 64px 0;

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: $color-primary;
  }
}

.footer-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: $width-lg) {
    justify-content: space-between;
  }

  @media (max-width: $width-sm) {
    flex-direction: column;
  }

  &__copyrights {
    flex-basis: 40%;
    font-size: 1rem;
    font-weight: 500;

    @media (max-width: $width-sm) {
      margin-bottom: 8px;
    }
  }

  &__icons {
    display: flex;
  }
  &__icon-item {
    font-size: 2.2rem;
    margin: 8px;

    @media (max-width: $width-sm) {
      font-size: 1.6rem;
    }
  }
}
